/* hide the whole document */
.dv-hidden {
  overflow: hidden;
  visibility: hidden;
}

.dv-visible {
  visibility: visible;
}

/* outer wrapper */
.dv-wrapper {
  position: absolute;
  z-index: 9999999999;
  padding: 0 5px 5px 5px;
  border-radius: 5px;
  overflow: auto;
  resize: horizontal;
  background: black;
  visibility: visible;
}

/* draw our own light-grey triangle on bottom-right */
.dv-wrapper::after {
  content: "";
  position: absolute;
  border-right: 16px solid lightgrey;
  border-top: 16px solid transparent;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
}

/* drag handle */
.dv-wrapper .dv-header {
  height: 20px;
  cursor: move;
  user-select: none;
}

/* content area */
.dv-wrapper .dv-content {
  padding: 10px;
  background: white;
  user-select: none;
  pointer-events: none;
}